<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0"
          package="com.askokov.rtsc">

    <!-- 16 is suitable for 80% devices -->
    <uses-sdk android:minSdkVersion="17"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name"
                 android:name="com.askokov.rtsc.boot.MainApplication" android:theme="@style/AppTheme">

        <activity android:label="@string/main_name" android:name=".boot.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/apps_name" android:name=".boot.AppsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:enabled="true" android:label="OnBootReceiver" android:name=".boot.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:enabled="true" android:name=".boot.StatService"/>

        <receiver android:name=".boot.PackageReceiver" android:enabled="true">
            <intent-filter android:priority="999">
                <!--action android:name="android.intent.action.CALL"></action-->

                <!--
    EXTRA_UID containing the integer uid assigned to the new package.
    EXTRA_REPLACING is set to true if this is following an ACTION_PACKAGE_REMOVED broadcast for the same package.
                -->
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH"/>

                <!--
    EXTRA_UID containing the integer uid previously assigned to the package.
    EXTRA_DATA_REMOVED is set to true if the entire application - data and code - is being removed.
    EXTRA_REPLACING is set to true if this will be followed by an ACTION_PACKAGE_ADDED broadcast for the same package.
                -->
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>